body {
    background-image: url("img/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
   
}

.card {
    background-color:rgba(243, 243, 243, 0.3);
    margin: 30px;
    padding: 30px;
    border-radius: 10px;
    border-style: hidden;
    
}

.cardMain {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.weatherIcon {
    width: 50;
    height: 50;
}

.container-input {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

input, button {
    padding: 15px 10;
    border-radius: 10px;
    border-style: hidden;
}
